.burgerBtn {
    display: none;
    position: relative;
    z-index: 50;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 18px;
    cursor: pointer;

    & span {
        height: 2px;
        width: 80%;
        transform: scale(1);
        background-color: #e5e6eb;
    }

    &::before,
    &::after {
        content: "";
        position: absolute;
        height: 2px;
        width: 100%;
        background-color: #e5e6eb;
        transition: all 0.3s ease 0s;
    }

    &::before {
        top: 0;
    }

    &::after {
        bottom: 0;
    }

    &.active span {
        transform: scale(0);
    }

    &.active::before {
        top: 50%;
        transform: rotate(-45deg) translate(0, -50%);
    }

    &.active::after {
        bottom: 50%;
        transform: rotate(45deg) translate(0, 50%);
    }
}

@media (max-width: 1220px) {
    .burgerBtn {
        display: flex;
    }
}

@media (max-width:667px),
(min-width:1220px) {

    .burgerBtn {
        display: none;
    }
}