.link {
    transition-timing-function: ease-out;
    transition-duration: 100ms;
    color: #e5e6eb;
}

.link:hover {
    cursor: pointer;
    color: #fcb045;
}

.link img {
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}