@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700;900&family=Montserrat:wght@300;400&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  background: #0e1014;
  font-family: "Inter", sans-serif;
  color: #e5e6eb;
}

.project_container {
  padding: 0 150px;
  position: relative;
  overflow: hidden;
}

.header_container {
  margin-top: 61px;
}

.half_container {
  position: relative;
  display: flex;
}

.left_side_screen {
  flex: 2;
}

.right_side_screen {
  flex: 1;
  text-align: right;
}

.right_screen_padding_t {
  padding-top: 13px;
}

.left_side_header_container {
  display: flex;
  gap: 52px;
}

.logo_Contaner {
  margin-right: 52px;
}

.logo {
  display: flex;
  gap: 8px;
}

.vertical_logo {
  position: relative;
  bottom: 3px;
}

.vertical_name_logo {
  vertical-align: super;
}

.menu_important_container {
  display: flex;
  justify-content: space-between;
  width: 503px;
  font-family: Inter;
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
}

li {
  list-style-type: none;
}

.logo_discription {
  margin-top: 5px;
  font-family: Montserrat;
  font-size: 10px;
  font-weight: 300;
  line-height: 12px;
  letter-spacing: 0em;
  text-align: left;
}

.right_side_header_contaner {
  display: flex;
  gap: 48px;
  justify-content: flex-end;
}

.links_socialNetwork {
  display: flex;
  gap: 30px;
}

.main_container {
  margin-top: 94px;
}

.yellow_pink_gradient {
  background: linear-gradient(92deg, #fcb045 27.14%, #ff3f78 100%), #e4e5ea;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.footer_container {
  margin-top: 121px;
}



.slogan_big_text {
  font-family: "Inter";
  font-weight: 400;
  font-size: 48px;
  line-height: 58px;
  color: #e4e5ea;
}

.slogan_gradient_text {
  width: 247px;
  height: 58px;
  font-family: "Inter";
  font-weight: 900;
  font-size: 48px;
  line-height: 58px;
}

.little_slogan_under_main_slogan {
  display: inline-block;
  margin-top: 31px;
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;
}

.offer_text {
  font-family: Inter;
  font-size: 18px;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: right;
}

.offer_text_gradient {
  font-family: Inter;
  font-size: 18px;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: 0.05em;
  text-align: right;
}

.orange_red_gradient {
  background: linear-gradient(92deg, #f3920a, #f8030f 90%), #e4e5ea;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.yellow_orange_gradient {
  background: linear-gradient(92deg, #fcb045 60%, #f48e00 90.36%), #e4e5ea;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.target_container {
  display: grid;
  grid-template-columns: 135px 135px;
  margin-top: 40px;
  gap: 35px 30px;
  justify-content: end;
}

.target_discription {
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0em;
}

.target h3 {
  font-family: Inter;
  font-size: 18px;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

.footer_company_info {
  display: grid;
  grid-template-columns: 38% 26% 36%;
}

.footer_header_text {
  font-family: Inter;
  font-size: 14px;
  font-weight: 700;
  line-height: 17px;
  letter-spacing: 0.05em;
  color: #656566;
}

.info_column {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.footer_company_description {
  margin-top: 14px;
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
}

.footer_company_description li {
  margin: 10px 0;
}

.footer_phoneNumber {
  margin-top: 20px;
  font-family: Inter;
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
  letter-spacing: 0em;
  transition: ease-out 100ms;
}

.phone_Number {
  transition: ease-out 100ms;
}

.links_socialNetwork_footer {
  display: flex;
  justify-content: flex-end;
  gap: 16px;
  margin-top: 23px;
}

.links_socialNetwork_footer a {
  height: 16px;
  width: 16px;
}

.purple_ball {
  position: absolute;
  width: 60px;
  height: 60px;
  left: calc(50% + 150px);
  top: -2px;
  background: radial-gradient(64% 64% at 27.25% 26.5%,
      rgba(236, 208, 255, 0.64) 0%,
      rgba(161, 93, 207, 0.24) 59.67%,
      rgba(118, 49, 164, 0.208) 78.59%,
      rgba(86, 24, 128, 0.232) 100%)
    /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */
  ;
  box-shadow: 3px 6px 27px -10px rgba(177, 118, 217, 0.25);
  filter: blur(5px);
  backdrop-filter: blur(2px);
  border-radius: 50%;
}

.big_red_ball {
  position: absolute;
  width: 83px;
  height: 83px;
  left: 36%;
  top: 83px;
  background: radial-gradient(64% 64% at 27.25% 26.5%,
      rgba(255, 208, 208, 0.536) 0%,
      rgba(212, 93, 93, 0.264) 59.67%,
      rgba(167, 49, 49, 0.248) 78.59%,
      rgba(130, 25, 25, 0.248) 100%)
    /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */
  ;
  box-shadow: 3px 6px 27px -10px rgba(223, 125, 125, 0.25);
  backdrop-filter: blur(2px);
  border-radius: 50%;
}

.small_red_ball {
  position: absolute;
  width: 28px;
  height: 28px;
  left: 55%;
  top: 547px;
  background: radial-gradient(64% 64% at 27.25% 26.5%,
      rgba(255, 208, 208, 0.48) 0%,
      rgba(212, 93, 93, 0.248) 59.67%,
      rgba(167, 49, 49, 0.264) 78.59%,
      rgba(130, 25, 25, 0.232) 100%)
    /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */
  ;
  box-shadow: 3px 6px 27px -10px rgba(223, 125, 125, 0.25);
  filter: blur(2.5px);
  backdrop-filter: blur(2px);
  border-radius: 50%;
}

.red_light {
  position: absolute;
  width: 311px;
  height: 311px;
  left: -102px;
  top: 251px;
  background: #961a1a;
  opacity: 0.5;
  filter: blur(196px);
}

.purple_light {
  position: absolute;
  width: 259px;
  height: 259px;
  left: 602px;
  top: -154px;
  background: #833ab4;
  opacity: 0.5;
  filter: blur(196px);
  pointer-events: none;
}

.red_light_phone {
  display: none;
  position: absolute;
  width: 211px;
  height: 210px;
  left: -55px;
  top: 241px;
  background: #961a1a;
  opacity: 0.5;
  filter: blur(133px);
}

.purple_light_phone {
  display: none;
  position: absolute;
  width: 259px;
  height: 259px;
  left: 258px;
  top: 107px;
  background: #833ab4;
  opacity: 0.5;
  filter: blur(196px);
}

.company_adress {
  margin-top: 22px;
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0em;
}

.company_privacy {
  margin-top: 70px;
  padding-bottom: 20px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
}

.company_prvacy_border {
  display: inline-block;
  border-bottom: 1px solid #e4e5ea;
  margin-top: 5px;
}

.target_hidden {
  display: none;
}

.hidden_elements {
  display: none;
}

.phone_element {
  display: none;
}

.desktop_element {
  display: block;
}

.burger_element {
  display: flex;
  width: 100%;
}

.open {
  display: flex !important;
}

.full_height {
  height: 100vh;
}


.phone_Number:hover {
  cursor: pointer;
  color: #fcb045;
}

@media (max-width: 1350px) {
  .project_container {
    padding: 0 50px;
  }
}

@media (max-width: 1220px) {
  .half_container {
    justify-content: space-between;
  }

  .burger_element {
    display: none;
    flex-direction: column;
    position: fixed;
    justify-content: center;
    align-items: center;
    gap: 35px;
    width: 100vw;
    height: 100vh;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 50;
    overflow-y: auto;
    padding: 100px 50px;
    background-color: #000;
    animation: burgerAnimation 0.4s;
  }

  .burger_element ul {
    flex-direction: column;
    row-gap: 30px;
    text-align: center;
  }
}

@keyframes burgerAnimation {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@media (max-width: 1220px) {
  .slogan_big_text {
    font-size: 35px;
    line-height: 35px;
  }

  .slogan_gradient_text {
    font-size: 35px;
  }


}

@media (max-width: 667px) {
  .desktop_element {
    display: none;
  }

  .phone_element {
    display: block;
  }

  .purple_light_phone {
    display: block;
  }

  .big_red_ball {
    display: none;
  }

  .red_light {
    display: none;
  }

  .purple_light {
    display: none;
  }

  .logo_Contaner {
    display: none;
  }

  .right_side_header_contaner {
    display: none;
  }

  .project_container {
    padding: 0;
  }



  .half_container {
    display: block;
  }

  .footer_company_info {
    display: block;
  }

  .target_hidden {
    font-family: Montserrat;
    font-size: 13px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0.05em;
    text-align: left;
    display: flex;
  }

  .target_show {
    display: block;
  }

  .target_line {
    width: 10px;
    height: 1px;
    background: linear-gradient(90deg, #fcb045 36.99%, #fd1d1d 100%);
  }

  .burger_element ul {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    text-align: center;
  }

  .menu_important_container {
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin: 10px 0;
    font-size: 14px;
    font-weight: 400;
  }

  .left_side_header_container {
    display: block;
  }

  .header_container {
    margin: 0;
    padding: 8px 7px;
    height: 55px;
  }

  .hiden_element {
    display: none;
  }

  .main_container {
    position: relative;
    mix-blend-mode: overlay;
    text-align: center;
    padding: 0 15px;
    margin-top: 0px;
    overflow: hidden;
    height: 445px;
  }

  .phone_noise {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: url("../logos/36032deebad5e588140d4b0e98d046c1.png");
    opacity: 15%;
  }

  .phone_container {
    /* position: relative; */
    background: radial-gradient(238.53% 189.02% at 3.2% 3.49%,
        #fff6e91a 0%,
        #1a1d231a 26.62%,
        rgba(26, 29, 35, 0.1) 52.1%,
        rgba(26, 29, 35, 0.01) 70.17%,
        rgba(26, 29, 35, 0) 100%);
    backdrop-filter: blur(7.5px);
  }

  .purple_light_phone {
    display: block;
  }

  .red_light_phone {
    display: block;
  }

  .small_red_ball {
    position: absolute;
    width: 43px;
    height: 43px;
    left: 29px;
    top: 454px;

    background: radial-gradient(64% 64% at 27.25% 26.5%,
        rgba(255, 208, 208, 0.536) 0%,
        rgba(212, 93, 93, 0.264) 59.67%,
        rgba(167, 49, 49, 0.248) 78.59%,
        rgba(130, 25, 25, 0.248) 100%);
    box-shadow: 3px 6px 27px -10px rgba(223, 125, 125, 0.25);
    backdrop-filter: blur(2px);
  }

  .purple_ball {
    position: absolute;
    width: 40px;
    height: 40px;
    left: 296px;
    top: 236px;
    background: radial-gradient(64% 64% at 27.25% 26.5%,
        rgba(236, 208, 255, 0.64) 0%,
        rgba(161, 93, 207, 0.24) 59.67%,
        rgba(118, 49, 164, 0.208) 78.59%,
        rgba(86, 24, 128, 0.232) 100%);
    box-shadow: 3px 6px 27px -10px rgba(177, 118, 217, 0.25);
    filter: blur(5px);
    backdrop-filter: blur(2px);
  }

  .slogan_big_text {
    font-family: Inter;
    font-size: 36px;
    font-weight: 400;
    line-height: 44px;
    letter-spacing: 0em;
    text-align: left;
    padding-top: 40px;
  }

  .slogan_gradient_text {
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 36px;
    line-height: 44px;
    text-align: left;
  }

  .little_slogan_under_main_slogan {
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;
    display: block;
    margin-top: 0;
  }

  .offer_text {
    margin-top: 33px;
    text-align: left;
    display: block;
  }

  .offer_text_gradient {
    font-size: 14px;
  }

  .info_mobile_container {
    text-transform: uppercase;
    display: grid;
    grid-template-columns: 40% 60%;
    gap: 14px;
    margin-top: 20px;
  }

  .target_container {
    display: none;
  }

  .orange_red_gradient {
    background: linear-gradient(92deg, #fcb045 20%, #f48e00 70.36%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
  }

  .yellow_orange_gradient {
    background: linear-gradient(92deg, #fcb045 70%, #f7a838 90.36%), #e4e5ea;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
  }

  .target_container {
    justify-content: start;
    gap: 14px;
  }

  .container_target_line {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 5px;
  }

  .target_block {
    display: none;
  }

  .right_side_screen {
    text-align: left;
  }

  .links_socialNetwork_footer {
    justify-content: start;
    margin-top: 10px;
  }

  .footer_container {
    margin-top: 0;
    padding-top: 11px;
    padding-left: 15px;
  }

  .company_privacy {
    margin-top: 50px;
    padding-bottom: 60px;
  }

  .company_adress {
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0em;
  }

  .links_socialNetwork_footer a {
    height: 19px;
    width: 19px;
  }

  .hidden_elements {
    display: block;
  }

  .footer_phone_description_container {
    display: grid;
    grid-template-columns: 50% 50%;
  }

  .footer_header_text {
    margin: 30px 0 20px 0;
    font-family: Inter;
    font-size: 12px;
    font-weight: 700;
    line-height: 15px;
    letter-spacing: 0.05em;
    text-align: left;
  }

  .footer_company_description {
    margin-top: 0px;
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: left;
  }

  .mobile_link {
    width: 24px;
    height: 24px;
  }
}